html {
  overflow-x: hidden;
  position: relative;
}

body {
  background-color: #f5f5f5;
  background-image: url(../Downloads/folk-pattern/folk-pattern.png);
  background-size: 150px;
  font-family: monospace;
}

nav {
  align-items: flex-end;
  background-color: #fc5185;
  display: flex;
  height: 150px;
  justify-content: flex-end;
  left: 0;
  position: absolute;
  width: 75%;
}

nav a {
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 30px;
  margin-left: 40px;
  margin-bottom: 10px;
  transition: 0.5s
}

nav a:hover {
  font-size: 32px;
  color: lightgray;
}

header {
  position: relative;
  height: 200px;
  margin-left: -10px;
  margin-top: 10px;
}

header div {
  position: absolute;
  left: 75%;
  display: inline-block;
  width: 0;
  height: 0;
  border-bottom: 150px solid transparent;
  /* adjust border-left for overall width */
  border-left: 150px solid #fc5185;
}

section {
  align-items: center;
  background-color: #3fc1c9;
  border-radius: 5px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 5px;
  transition: 0.5s;
  width: 80%;
  color: #f5f5f5;
}

section img {
  display: inline-block;
  width: 25%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.aboutmetext {
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
  width: 59%;
}

.aboutmetext h1 {
  font-size: 25px;
}

.aboutmetext p, .aboutmetext a {
  font-size: 15px;
}

section:hover {
  box-shadow: 5px 5px 5px rgb(89, 89, 89);
  width: 81%;
}

main {
  margin-top: 4em;
  margin-right: -30px;
}

main a {
  background-color: #364f6b;
  color: #f5f5f5;
  display:flex;
  align-items: center;
  float: right;
  margin-top: 20px;
  text-decoration: none;
  transition: 0.5s;
  width: 95%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

main a img {
  float: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  opacity: 0.5;
  transition: 0.5s;
}

main a:hover {
  margin-right: 20px;
  box-shadow: 5px 5px 5px rgb(89, 89, 89);
}

main a:hover img {
  opacity: 1.0;
}

.articletext {
  opacity: 0.7;
  display: inline-block;
  width: 75%;
  margin-left: 40px;
  margin-right: 30px;
  transition: 0.5s;
}
main a:hover .articletext {
  opacity: 1;
}
